In [ ]:
import sqlite3

In [ ]:
con = sqlite3.connect('./test_db')

In [ ]:
cur = con.cursor()
for row in cur.execute('SELECT * FROM person'):
    print(row)
    for collum in row:
        print(collum)
        for column in row:
            print(column)

In [ ]:
insert_sql = 'INSERT INTO person VALUES(?,?,?)'
insert_param = (100,'name_z',99.9)
cur.execute(insert_sql,insert_param)

In [ ]:
con.commit()

In [ ]:
cur.execute('SELECT * FROM person')
print(cur.fetchall())

In [ ]:
con = sqlite3.connect('./test_db')

In [ ]:
sql_update = 'UPDATE human SET name = ? WHERE id = ?'
update_param = ('change_name',1)
cur.execute(sql_update,update_param)

In [ ]:
cur.execute('SELECT * FROM person')
print(cur.fetchall())

In [ ]:
sql_update = 'UPDATE person SET name = ? WHERE id = ?'
update_param = ('change_name',1)
cur.execute(sql_update,update_param)

In [ ]:
cur.execute('SELECT * FROM person')
print(cur.fetchall())

In [ ]:
sql_delete = 'DELETE FROM person WHERE id = ?'
delete_param = (100,)
cur.execute(sql_delete,delete_param)

In [ ]:
cur.execute('SELECT * FROM person')
print(cur.fetchall())