In [2]:
import sqlite3

In [3]:
con = sqlite3.connect('./test_db')

In [4]:
cur = con.cursor()
for row in cur.execute('SELECT * FROM person'):
    print(row)
    for collum in row:
        print(collum)
        for column in row:
            print(column)

(1, 'a_name', 10.5)
1
1
a_name
10.5
a_name
1
a_name
10.5
10.5
1
a_name
10.5
(2, 'b_name', 8.5)
2
2
b_name
8.5
b_name
2
b_name
8.5
8.5
2
b_name
8.5
(3, 'c_update', 3.14)
3
3
c_update
3.14
c_update
3
c_update
3.14
3.14
3
c_update
3.14
(4, 'from_model', 2.236)
4
4
from_model
2.236
from_model
4
from_model
2.236
2.236
4
from_model
2.236

In [8]:
cur.execute('SELECT * FROM person INNER JOIN human on person.id = human.id')
print(cur.fetchall())

[(1, 'a_name', 10.5, 1, 'a', 1.7, 70.0), (2, 'b_name', 8.5, 2, 'b', 1.8, 75.0), (3, 'c_update', 3.14, 3, 'c', 2.0, 80.0)]

In [9]:
cur.execute('SELECT * FROM person LEFT JOIN human on person.id = human.id')
print(cur.fetchall())

[(1, 'a_name', 10.5, 1, 'a', 1.7, 70.0), (2, 'b_name', 8.5, 2, 'b', 1.8, 75.0), (3, 'c_update', 3.14, 3, 'c', 2.0, 80.0), (4, 'from_model', 2.236, None, None, None, None)]