In [ ]:
from sqlalchemy import create_engine
from sqlalchemy.orm import Session
from test_model import Person

In [ ]:
engine = create_engine('sqlite:///test_db',echo=True)
session = Session(engine)

In [ ]:
persons = session.query(Person).all()

In [ ]:
for person in persons:
    print(f'id:{person.id} name:{person.name} size:{person.size}')

In [ ]:
new_person = Person(id=4,name='from_model',size=100)
session.add(new_person)

In [ ]:
session.commit()

In [ ]:
persons = session.query(Person).all()
for person in persons:
    print(person.__dict__)

In [ ]:
person4 = session.query(Person).filter(Person.id==4).first()

In [ ]:
person4.size = 2.236

In [ ]:
session.commit()

In [ ]:
session.query(Person).filter(Person.size>10).delete()

In [ ]:
session.commit()

In [ ]:
result_list = session.execute('SELECT * FROM person WHERE id = :id', {"id":4})

In [ ]:
for result in result_list:
    print(result)

In [ ]:
from test_model import Human

In [17]:
engine = create_engine('sqlite:///test_db',echo=True)
session = Session(engine)

In [18]:
humans = session.query(Human).all()

2022-06-25 15:01:31,009 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-25 15:01:31,012 INFO sqlalchemy.engine.Engine SELECT human.id AS human_id, human.name AS human_name, human.height AS human_height, human.weight AS human_weight
FROM human
2022-06-25 15:01:31,012 INFO sqlalchemy.engine.Engine [generated in 0.00068s] ()

In [19]:
for human in humans:
    print (f'id:{human.id} name:{human.name} height:{human.height} weight:{human.weight}')

id:1 name:a height:1.7 weight:70.0
id:2 name:b height:1.8 weight:75.0
id:3 name:c height:1.9 weight:80.0

In [20]:
param_human = Human(id=7, name="Lucky", height=177, weight=77)
session.add(param_human)

In [21]:
session.commit()

2022-06-25 15:05:44,069 INFO sqlalchemy.engine.Engine INSERT INTO human (id, name, height, weight) VALUES (?, ?, ?, ?)
2022-06-25 15:05:44,071 INFO sqlalchemy.engine.Engine [generated in 0.00221s] (7, 'Lucky', 177.0, 77.0)
2022-06-25 15:05:44,073 INFO sqlalchemy.engine.Engine COMMIT

In [34]:
list_human = session.execute('SELECT * FROM human')
for result in list_human:
    print (result)

2022-06-25 15:15:33,727 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-25 15:15:33,728 INFO sqlalchemy.engine.Engine SELECT * FROM human
2022-06-25 15:15:33,729 INFO sqlalchemy.engine.Engine [cached since 498.6s ago] ()
(1, 'a', 1.7, 70.0)
(2, 'b', 1.8, 75.0)
(3, 'c', 1.9, 80.0)
(7, 'Lucky', 177.0, 77.0)

In [36]:
person3 = session.query(Human).filter(Human.height ==1.9).first()
person3.height = 2.0
session.commit()

2022-06-25 15:17:31,123 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-25 15:17:31,124 INFO sqlalchemy.engine.Engine SELECT human.id AS human_id, human.name AS human_name, human.height AS human_height, human.weight AS human_weight
FROM human
WHERE human.height = ?
 LIMIT ? OFFSET ?
2022-06-25 15:17:31,125 INFO sqlalchemy.engine.Engine [generated in 0.00100s] (1.9, 1, 0)
2022-06-25 15:17:31,127 INFO sqlalchemy.engine.Engine UPDATE human SET height=? WHERE human.id = ?
2022-06-25 15:17:31,128 INFO sqlalchemy.engine.Engine [generated in 0.00071s] (2.0, 3)
2022-06-25 15:17:31,129 INFO sqlalchemy.engine.Engine COMMIT

In [37]:
list_human = session.execute('SELECT * FROM human')
for result in list_human:
    print (result)

2022-06-25 15:17:44,759 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-25 15:17:44,760 INFO sqlalchemy.engine.Engine SELECT * FROM human
2022-06-25 15:17:44,761 INFO sqlalchemy.engine.Engine [cached since 629.6s ago] ()
(1, 'a', 1.7, 70.0)
(2, 'b', 1.8, 75.0)
(3, 'c', 2.0, 80.0)
(7, 'Lucky', 177.0, 77.0)

In [38]:
session.query(Human).filter(Human.weight == 77.0).delete()
session.commit()

2022-06-25 15:19:18,160 INFO sqlalchemy.engine.Engine DELETE FROM human WHERE human.weight = ?
2022-06-25 15:19:18,162 INFO sqlalchemy.engine.Engine [generated in 0.00209s] (77.0,)
2022-06-25 15:19:18,164 INFO sqlalchemy.engine.Engine COMMIT

In [39]:
list_human = session.execute('SELECT * FROM human')
for result in list_human:
    print (result)

2022-06-25 15:19:24,332 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-25 15:19:24,334 INFO sqlalchemy.engine.Engine SELECT * FROM human
2022-06-25 15:19:24,335 INFO sqlalchemy.engine.Engine [cached since 729.2s ago] ()
(1, 'a', 1.7, 70.0)
(2, 'b', 1.8, 75.0)
(3, 'c', 2.0, 80.0)

In [40]:
session.close()

2022-06-25 15:20:17,768 INFO sqlalchemy.engine.Engine ROLLBACK